.App {
    background-color: #F0FAFB;
}


.container{
    margin-top: 90px;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    height: fit-content;
}

@media screen and (max-width: 600px){
.container{
    display: grid;

}
}
