.card{
    background-color: #ffffff;
    width: 60%;
    border-radius: 5px;
    height: fit-content;
    margin: auto;
}
.card:hover{
    cursor: pointer;
}

.card:nth-child(1){
    border-left: 2px solid teal;

}

.card:nth-child(2){
    border-left: 2px solid teal;

}
.content{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-left: 15px;*/
}
.feature{
    background-color: black;
    border-radius: 20px;
    padding: .1rem .6rem;
    text-transform: uppercase;
    color: white;
    font-size: .2rem;
}

.new{
    background-color: teal;
    border-radius: 20px;
    padding: .1rem .6rem;
    text-transform: uppercase;
    color: white;
    font-size: .2rem;
}

.name{
    display: flex;
    align-items: center;
}
.name-details{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /*margin-bottom: 45%;*/
}
.lower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lower-class{
    font-weight: bold;
    margin-top: -5px;
}
.language{
    display: flex;
}
.btn{
    background-color: #F0FAFB;
    color: teal;
    font-size: 0.6rem;
    margin-left: 10px;
    padding: .2rem .5rem;
    border-radius: 2px;

}
.underline{
    width: 100%;
    height: 5px;
    color: black;
}


@media screen and (max-width: 700px){
.card{
    width: 90%;
    /*margin: auto;*/
    /*height: 30vh;*/
}
   .name{

   }
    .underline{
        width: 100%;
        height: 2px;
        background-color: #f0f0f2;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .language{
        margin-top: 15px;
    }

    .logo{
        width: 100%;
    }
}
